.App {
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
  box-shadow: 15px 15px 15px gray;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 15px;
  height: 95vh;
}
h2 {
  color: blue;
}
h2:hover {
  color: white;
  cursor: pointer;
}
.title {
  background-color: orange;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 2px solid orange;
  font-size: larger;
}
.input {
  width: 100%;
  background-color: orange;
}
input {
  width: 95%;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: lightgray;
  padding-left: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  /* margin-top: 20px; */
}
.all-list {
  width: 100%;
  overflow: scroll;
  margin-bottom: 10px;
}
